* {
    margin: 1;
    padding: 1;
    box-sizing: border-box;
}

/* ---------- CABEÇALHO ---------- */
header {
    position: relative;
    width: 100%;
    height: 145px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    background-image: url(IMG/acervo2.jpg);
    background-repeat: repeat;
    border-radius: 8px;

}

header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(235, 208, 208, 0.627); 
    z-index: 1;
}

/* Título */
header h1 {
    position: relative;
    z-index: 2;
    color: #ffffff;
    font-family: Arial,;
    font-size: 30px;
    font-weight: bold;
}

/* Menu */
.campo_menu {
    position: relative;
    z-index: 2;
}

.campo_menu ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

.campo_menu ul li a {
    text-decoration: none;
    background:  #ffffffd7;
    color: #000000;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.campo_menu ul li a:hover {
    background: #b19a9a;
    color: #ffffff;
}

/*pesquisa*/
.pesquisa{
    float: right;
    position: relative;
    display: inline;
    top: 10px;
}

main button {
    width: 20%;    
}
.texto-pesquisa{
    width: 60%;  
}

/*intro*/
.intro{ 
    float: right;
    position: relative;
    width: 80%; 
    background-color: rgb(192, 168, 168);   
    top: 10px;
    border-radius: 8px;
    display: inline;
}

section p{ 
    position: relative;
    float: right;
    display: flex;
    text-align: justify;
    max-width: 710px;
   
}
section img{
    border-radius: 8px;    
}

article {
    display: flex;
    text-align: center;
    margin: 15px;
    float: right;
    position: relative;
    width: 80%;  
    top: 35px;
}

article img{
    border-radius: 8px;
}
.Titulo{
    top: 80px;
}
.obra1{
    border-radius: 8px;
    background-color: rgba(255, 238, 238, 0.699);
    left: 50px; 
    border: 3px solid rgb(148, 92, 92); 
    margin: 8px;
}

.obra2{
    border-radius: 8px;
    background-color: rgba(255, 238, 238, 0.699);
    border: 3px solid rgb(148, 92, 92);
    margin: 8px;
}
.obra3{
    border-radius: 8px;
    background-color: rgba(255, 238, 238, 0.699);
    border: 3px solid rgb(148, 92, 92);
    margin: 8px;
}


aside{
    position: fixed;
    display: block;
    background-color: #d2b6b6;
    width: 280px;
    top: 160px;
    border-radius: 8px;
}

.caixa-categoria {
    position: relative;
    z-index: 2;
}

.caixa-categoria ul {
    display: block;
    gap: 20px;
    list-style: none;
}
.caixa-categoria ul li{
    margin-bottom: 30px;

}

.caixa-categoria ul li a {
    text-decoration: none;
    background:  #ffffffd7;
    color: #000000;
    padding: 10px 40px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.caixa-categoria ul li a:hover {
    background: #ddcece;
    color: #ffffff;
}

.footer {  
  color: #945b5b;         
  padding: 20px;
  text-align: center;
  margin-top: 750px;      
}

.footer a {
  color: #000000;         
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-content {
  max-width: 900px;
  margin: auto;
}